.tm-list-links a {
  color: rgb( 118, 195, 143 );
  text-decoration: none;
}
.tm-footer {
  background: rgb( 48,48, 48 );
  padding: 40px 0;
  overflow: hidden;
  z-index: 10;
  position: relative;
  display: block;
  box-sizing: border-box;
}
.tm-green-text {
  font-family:GeorgiaRegularfont;
  color: rgb( 118, 195, 143 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  letter-spacing:1px;
  margin-left: 0px;
}
.tm-footer-blocks {
  display: block;
  width: auto;
  height: auto;
  position: relative;
  z-index: 15;
  margin-left: auto;
  margin-top: auto;
  padding: 20px;
  text-align: left;
}
.tm-footer-titles {
  font-size: 16px;
  font-family: GeorgiaRegularfont;
  color: rgb( 255, 255, 255 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  z-index: 30;
 
}
.tm-post-title { 
  font-size: 14px;
  margin-top: 30px;
  z-index: 30;
}
.tm-admin {
  font-size: 10px;
  top: -6px;
  text-decoration: none;
  z-index: 30;
}
.tm-domain-name {
  font-size: 10px;
  color: rgb( 151, 151, 151 );
  line-height: 1.2;
  opacity: 0.7;
  margin-left: 40px;
  margin-top: -18px;
  letter-spacing:0.5px;
  z-index: 30;
}
.tm-friday {
  font-size: 10px;
  color: rgb( 151, 151, 151 );
  letter-spacing:0.5px;
  margin-top: 10px;
  z-index: 30;
 }
.tm-vestibul {
  font-size: 13px;
  color: rgb( 151, 151, 151 );
  line-height: 1.64;
  letter-spacing:0.33px;
  margin-top: 6px;
  height: auto;
  width: 100%;
  z-index: 33;
}
.tm-read-mor {
  font-size: 13px;
  letter-spacing:0.33px;
  margin-top: 10px;
  text-decoration: none;
  z-index: 33;
  }

/*------------LINKS---------------*/
.tm-list-links {
  list-style: none;
  text-align: left;
  margin-top: 22px;

}
.tm-list-links li {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 143 );
  line-height: 2.65;
  text-align: left;
  letter-spacing:0.45px;
  z-index: 33;
  text-decoration: none;
  margin-left: -40px;
}
.tm-line {
  background-color: rgb( 64, 64, 64 );
  position: relative;
  margin-left: 0px;
  margin-top: -220px;
  width: 225px;
  height: 1px;
  z-index: 33;
  display: block;
}
.tm-line1 {
  margin-top: 33px;
}
.tm-line2 {
  margin-top: 33px;
}
.tm-line3 {
  margin-top: 33px;
}
.tm-line4 {
  margin-top: 33px;
}
.tm-line5 {
  margin-top: 33px;
}
.tm-line6 {
  margin-top: 33px;
}
/*------------TWEETS---------------*/
.tm-namehere1 {
  font-size: 13px;
  line-height: 1.6;
  text-decoration: none;
  letter-spacing: 0.7px;
  top: 15px;
  z-index: 33;
}
.tm-namehere2 {
  top: 20px;
  
}
.tm-justoid1 {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.62;
  text-align: left;
  position: relative;
  letter-spacing: 0.3px;
  margin-top: -6px;
  width: 219px;
  height: 90px;
  z-index: 33;
  display: block;
}
.tm-justoid2 {
  margin-top: 0px;
}

/*------------CONTACT---------------*/
.tm-inp {
  background-color: rgb( 34, 34, 34 );
  position: relative;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 14px;
  font-family: GeorgiaRegularfont;
  color: rgb( 152, 152, 152 );
  border: 0px;
  margin-left: 0px;
  margin-top: 22px;
  width: 215px;
  height: 33px;
  z-index: 33;
  display: block;
}
.tm-email {
  margin-top: 12px;
}
.tm-subj {
  margin-top: 10px;
}
.tm-mesag{
  margin-top: 10px;
  height: 60px;
 }
.tm-submit {
  background: rgb( 118, 195, 143 );
  padding: 10px;
  border-radius: 10px;
  font-family: GeorgiaRegularfont;
  border: 0px;
  margin-top: 10px;
  margin-left:0px;
  width: 75px;
  height: 35px;
  position: relative;
  z-index: 35;
  display: block;
}
.tm-copyright {
  padding: 10px;
}
.tm-copy {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1;
  text-align: left;
  position: relative;
  letter-spacing: 0.4px;
  z-index: 8;
  display: block;
}
.tm-template {
  text-align: right;
}
