.footer-bg {
  background: rgb( 48,48, 48 );
  position: relative;
  margin-left: 0px;
  margin-top: 61px;
  width: 1200px;
  height: 388px;
  z-index: 2;
}
.copy-bg {
  background-color: rgb( 43, 43, 43 );
  position: relative;
  margin-left: 0px;
  margin-top: 2px;
  width: 1200px;
  height: 60px;
  z-index: 2;
}
.bottom-border1 {
  background-color: rgb( 0, 0, 0 );
  position: relative;
  margin-left: 0px;
  margin-top: -62px;
  width: 1200px;
  height: 1px;
  z-index: 12;
}
.bottom-border2 {
  background-color: rgb( 58, 58, 58 );
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
  width: 1200px;
  height: 1px;
  z-index: 9;
}


/*------------BLOG---------------*/
.from-blog {
  font-size: 16px;
  font-family: GeorgiaRegularfont;
  color: rgb( 255, 255, 255 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  margin-left: 119px;
  margin-top: -352px;
  z-index: 30;
}
.post-title {
  font-size: 14px;
  font-family:GeorgiaRegularfont;
  color: rgb( 118, 195, 143 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  margin-left: 120px;
  margin-top: 30px;
  letter-spacing:1px;
  z-index: 30;
}
.admin {
  font-size: 10px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 142 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  margin-left: 119.8px;
  letter-spacing:1px;
  top: -6px;
  text-decoration: none;
  z-index: 30;
}
.domain-name {
  font-size: 10px;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  opacity: 0.7;
  margin-left: 155px;
  margin-top: -19px;
  letter-spacing:0.5px;
  z-index: 30;
}
.friday {
  font-size: 10px;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  letter-spacing:0.5px;
  margin-left: 120px;
  margin-top: 10px;
  z-index: 30;
}
.vestibul {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.64;
  text-align: left;
  position: relative;
  letter-spacing:0.33px;
  margin-left: 119.75px;
  margin-top: 6px;
  width: 223px;
  height: 139px;
  z-index: 33;
}
.read-mor {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 143 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  letter-spacing:0.33px;
  margin-left: 120px;
  top: 2px;
  text-decoration: none;
  z-index: 33;
}

/*------------LINKS---------------*/

.links {
  font-size: 16px;
  font-family: GeorgiaRegularfont;
  color: rgb( 255, 255, 255 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  letter-spacing:-0.2px;
  margin-left: 364px;
  margin-top: -291px;
  z-index: 33;
}
.lorem-si {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 143 );
  line-height: 2.65;
  text-align: left;
  position: relative;
  letter-spacing:0.45px;
  margin-left: 360px;
  top: 9px;
  z-index: 33;
  text-decoration: none;
}
.amet {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 143 );
  line-height: 2.65;
  text-align: left;
  position: relative;
  letter-spacing:0.6px;
  margin-left: -155px;
  top: 41px;
  z-index: 33;
  text-decoration: none;
}
.praesent {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 143 );
  line-height: 2.65;
  text-align: left;
  position: relative;
  letter-spacing:0.45px;
  margin-left: -129px;
  top: 77px;
  z-index: 33;
  text-decoration: none;
}
.curabitur {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 143 );
  line-height: 2.65;
  text-align: left;
  position: relative;
  letter-spacing:0.45px;
  margin-left: -137px;
  top: 112px;
  z-index: 33;
  text-decoration: none;
}
.aliquam {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 143 );
  line-height: 2.65;
  text-align: left;
  position: relative;
  letter-spacing:0.5px;
  margin-left: -161px;
  top: 145px;
  z-index: 33;
  text-decoration: none;
}
.cras {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 143 );
  line-height: 2.65;
  text-align: left;
  position: relative;
  letter-spacing:0.3px;
  margin-left: -198px;
  top: 179px;
  z-index: 33;
  text-decoration: none;
}
.sed {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 143 );
  line-height: 2.65;
  text-align: left;
  position: relative;
  letter-spacing:0.3px;
  margin-left: -133px;
  top: 215px;
  z-index: 33;
  text-decoration: none;
}
.line1 {
  background-color: rgb( 64, 64, 64 );
  position: relative;
  margin-left: 364px;
  margin-top: 5px;
  width: 225px;
  height: 1px;
  z-index: 33;
}
.line2 {
  background-color: rgb( 64, 64, 64 );
  position: relative;
  margin-left: 364px;
  margin-top: 33px;
  width: 225px;
  height: 1px;
  z-index: 33;
}
.line3 {
  background-color: rgb( 64, 64, 64 );
  position: relative;
  margin-left: 364px;
  margin-top: 34px;
  width: 225px;
  height: 1px;
  z-index: 33;
}
.line4 {
  background-color: rgb( 64, 64, 64 );
  position: relative;
  margin-left: 364px;
  margin-top: 33px;
  width: 225px;
  height: 1px;
  z-index: 33;
}
.line5 {
  background-color: rgb( 64, 64, 64 );
  position: relative;
  margin-left: 364px;
  margin-top: 34px;
  width: 225px;
  height: 1px;
  z-index: 33;
}
.line6{
  background-color: rgb( 64, 64, 64 );
  position: relative;
  margin-left: 364px;
  margin-top: 33px;
  width: 225px;
  height: 1px;
  z-index: 33;
}
.line7 {
  background-color: rgb( 64, 64, 64 );
  position: relative;
  margin-left: 364px;
  margin-top: 34px;
  width: 225px;
  height: 1px;
  z-index: 33;
}

/*------------TWEETS---------------*/

.tweets {
  font-size: 16px;
  font-family: GeorgiaRegularfont;
  color: rgb( 255, 255, 255 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  letter-spacing: 0.33px;
  margin-left: 609px;
  margin-top: -283px;
  z-index: 33;
}
.namehere1 {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 142 );
  line-height: 1.6;
  text-align: left;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.7px;
  margin-left: 609px;
  top: 16px;
  z-index: 33;
}
.justoid1 {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.62;
  text-align: left;
  position: relative;
  letter-spacing: 0.3px;
  margin-left: 610px;
  margin-top: -5px;
  width: 219px;
  height: 222px;
  z-index: 33;
}
.namehere2 {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 118, 195, 142 );
  line-height: 1.62;
  text-align: left;
  position: relative;
  letter-spacing: 0.7px;
  text-decoration: none;
  margin-left: 609px;
  top: -110px;
  z-index: 33;
}
.justoid2 {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.62;
  text-align: left;
  position: relative;
  letter-spacing: 0.3px;
  margin-left: 610px;
  margin-top: -130px;
  width: 219px;
  height: 222px;
  z-index: 33;
}

/*------------CONTACT---------------*/

.contact {
  font-size: 16px;
  font-family: GeorgiaRegularfont;
  color: rgb( 255, 255, 255 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  letter-spacing: -0.2px;
  margin-left: 854px;
  margin-top: -412px;
  z-index: 25;
}
.inp {
  background-color: rgb( 34, 34, 34 );
  position: relative;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 14px;
  letter-spacing: -0.2px;
  font-family: GeorgiaRegularfont;
  color: rgb( 152, 152, 152 );
  border: 0px;
  margin-left: 855px;
  margin-top: 15px;
  width: 215px;
  height: 33px;
  z-index: 33;
}
.email {
  background-color: rgb( 34, 34, 34 );
  position: relative;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 14px;
  font-family: GeorgiaRegularfont;
  color: rgb( 152, 152, 152 );
  border: 0px;
  margin-left: 855px;
  margin-top: 10px;
  width: 215px;
  height: 33px;
  z-index: 33;
}
.subj {
  background-color: rgb( 34, 34, 34 );
  position: relative;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 14px;
  letter-spacing: -0.2px;
  font-family: GeorgiaRegularfont;
  color: rgb( 152, 152, 152 );
  border: 0px;
  margin-left: 855px;
  margin-top: 10px;
  width: 215px;
  height: 33px;
  z-index: 33;
}
.mesag{
  background-color: rgb( 34, 34, 34 );
  position: relative;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 14px;
  letter-spacing: -0.2px;
  font-family: GeorgiaRegularfont;
  color: rgb( 152, 152, 152 );
  border: 0px;
  margin-left: 855px;
  margin-top: 10px;
  width: 213px;
  height: 78px;
  z-index: 33;
}
.submit {
  background: rgb( 118, 195, 143 );
  padding: 10px;
  border-radius: 10px;
  font-family: GeorgiaRegularfont;
  border: 0px;
  margin-top: 5px;
  margin-left:855px;
  width: 75px;
  height: 35px;
  position: relative;
  z-index: 35;
}

.copy {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1;
  text-align: left;
  position: relative;
  margin-left: 120px;
  margin-top:64px;
  letter-spacing: 0.4px;
  z-index: 8;
}
.template {
  font-size: 13px;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1;
  text-align: right;
  position: relative;
  left: -120px;
  margin-top:-25px;
  letter-spacing: 0.4px;
  z-index: 7;
}
