div {
  display:block;
}

a {
  color: white;
}

.main-menu .row .logo, .main-menu .row .list {
  height: 100px;
  padding: 5px 0;
  z-index: 2;
}
.main-menu .row .logo a {
  font-family: GeorgiaRegularfont;
  line-height: 1;
  text-align: left;
  position: relative;
  display: block;
  top: 35px;
  text-decoration: none;
}
.the-modernist {
  font-size: 28px;
  color: white;
  letter-spacing:0px;
}
.free-psd {
  font-size: 11px;
  color: rgb( 151, 151, 151 );
  letter-spacing:0.75px;
}

.list {
  list-style: none;
  text-align: right;
}

.list ul {
  text-align: center;
  padding: 0;
}

.list li {
  font-size: 14px;
  font-family: "Georgia";
  color: white;
  text-align: left;
  position: relative;
  text-decoration: none;
  letter-spacing:-0.7px;
  display: inline-block;
  margin: 35px 4px auto 4px;
  padding: 6px;
}

.list li:hover {
  background: rgb( 118, 195, 143 ); 
  border-radius: 10px;
}

.tm-small-menu {
  margin-top: 45px;
  text-align: right;
}

.tm-small-menu button {
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: 18px;
}

.tm-right-dropdown {
  right: 0;
  left: auto;
}
