/*Block1*/
.rectangle1 {
  background-color: rgb( 255, 255, 255 );
  position: relative;
  margin-left: 120px;
  margin-top: 64px;
  width: 225px;
  display: block;
  height: 305px;
  z-index: 14;
 }

.rectangle11 {
  background: url(https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png);
  background-size: contain;
  position: relative;
  margin-left: 52px;
  top: 21px;
  width: 120px;
  height: 120px;
  z-index: 15 ;
}

.title1 {
  font-size:32px;
  font-family: GeorgiaRegularfont;
  color: rgb( 51, 51, 51 );
  text-align: center;
  position: relative;
  line-height: 1;
  margin-left: 0px;
  margin-top: 35px;
  display: block;
  text-decoration: none;
  z-index: 17;
}

.vesta1 {
  font-size: 13px;
  z-index:17;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.3;
  text-align: center;
  position: relative;
  margin-left: 25px;
  margin-top: 17px;
  width: 175px;
  height: 47px;
  letter-spacing: -0.1px;
}
.rectangle1:hover .vesta1 {
  color:rgb( 255, 255, 255 );
}
.rectangle1:hover .text120-1 {
  color: rgb( 1, 1, 1 )
}
.rectangle1:hover .title1 {
  color: rgb( 255, 255, 255 );
}
.rectangle1:hover {
  background: rgb( 118, 195, 143 );
}  

/*Block2*/

.rectangle2 {
  background-color: rgb( 255, 255, 255 );
  position: relative;
  margin-left: 365px;
  margin-top: -306px;
  width: 225px;
  height: 305px;
  z-index: 14;
}
.rectangle22 {
  background: url(../img/css3.png);
  background-size: contain;
  position: relative;
  margin-left: 52px;
  top: 21px;
  width: 120px;
  height: 120px;
  z-index: 15 ;
}
.title2 {
  font-size:32px;
  font-family: GeorgiaRegularfont;
  color: rgb( 51, 51, 51 );
  text-align: center;
  position: relative;
  line-height: 1;
  margin-left: 0px;
  margin-top: 35px;
  display: block;
  text-decoration: none;
  z-index: 17;
}
.vesta2 {
  font-size: 13px;
  z-index:17;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.3;
  text-align: center;
  position: relative;
  margin-left: 25px;
  margin-top: 17px;
  width: 175px;
  height: 47px;
  letter-spacing: -0.1px;
}
.rectangle2:hover .vesta2 {
  color:rgb( 255, 255, 255 );
}
.rectangle2:hover .text120-2 {
  color: rgb( 1, 1, 1 )
}
.rectangle2:hover .title2 {
  color: rgb( 255, 255, 255 );
}
.rectangle2:hover {
  background: rgb( 118, 195, 143 );
}

/*Block3*/

.rectangle3 {
  background-color: rgb( 255, 255, 255 );
  position: relative;
  margin-left: 610px;
  margin-top: -305px;
  width: 225px;
  height: 305px;
  z-index: 14;
}
.rectangle33 {
  background: url(../img/javascript.png);
  background-size: contain;
  position: relative;
  margin-left: 52px;
  top: 21px;
  width: 120px;
  height: 120px;
  z-index: 15 ;
}
.title3 {
  font-size:32px;
  font-family: GeorgiaRegularfont;
  color: rgb( 51, 51, 51 );
  text-align: center;
  position: relative;
  line-height: 1;
  margin-left: 0px;
  margin-top: 35px;
  display: block;
  text-decoration: none;
  z-index: 17;
}

.vesta3 {
  font-size: 13px;
  z-index:17;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.3;
  text-align: center;
  position: relative;
  margin-left: 25px;
  margin-top: 13px;
  width: 175px;
  height: 47px;
  letter-spacing: -0.1px;
}
.rectangle3:hover .vesta3 {
  color:rgb( 255, 255, 255 );
}
.rectangle3:hover .text120-3 {
  color: rgb( 1, 1, 1 )
}
.rectangle3:hover .title3 {
  color: rgb( 255, 255, 255 );
}
.rectangle3:hover {
  background: rgb( 118, 195, 143 );
}

/*Block4*/

.rectangle4 {
  background-color: rgb( 255, 255, 255 );
  position: relative;
  margin-left: 855px;
  margin-top: -305px;
  width: 225px;
  height: 305px;
  z-index: 14;
}
.rectangle44 {
  background: url(http://www.mgatmaytan.arkitech.ca/images/technologies/php.png);
  background-size: contain;
  position: relative;
  margin-left: 52px;
  top: 21px;
  width: 120px;
  height: 120px;
  z-index: 15 ;
}
.title4 {
  font-size:32px;
  font-family: GeorgiaRegularfont;
  color: rgb( 51, 51, 51 );
  text-align: center;
  position: relative;
  line-height: 1;
  margin-left: 0px;
  margin-top: 35px;
  display: block;
  text-decoration: none;
  z-index: 17;
}

.vesta4 {
  font-size: 13px;
  z-index:17;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.3;
  text-align: center;
  position: relative;
  margin-left: 25px;
  margin-top: 13px;
  width: 175px;
  height: 47px;
  letter-spacing: -0.1px;
}
.rectangle4:hover .vesta4 {
  color:rgb( 255, 255, 255 );
}
.rectangle4:hover .text120-4 {
  color: rgb( 1, 1, 1 )
}
.rectangle4:hover .title4 {
  color: rgb( 255, 255, 255 );
}
.rectangle4:hover {
  background: rgb( 118, 195, 143 );
}