.shevronl {
  position: relative;
  color: rgb( 118, 195, 143 );
  top: 215px;
  margin-left: 117px;
  z-index:10; 
}
.shevronr {
  position: relative;
  color: rgb( 118, 195, 143 );
  top: 183px;
  margin-left: 1061px;
  z-index:10; 
}
.text-block {
  position: relative;
  left:180px;
  margin-top: -15px;
  width: 400px;
  height: 300px;
  z-index:10;
  
}
.cursus-penati {
  font-size: 47px;
  font-family: GeorgiaRegularfont;
  color: rgb( 255, 255, 255 );
  text-align: left;
  position: relative;
  margin-left: 1px;
  margin-top: 59px;
  letter-spacing:-0.5px;
  line-height: 1;
  z-index:10;
}
.nullamlacus {
  font-size: 14px;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.42;
  text-align: left;
  position: relative;
  margin-left: 0px;
  margin-top: -28px;
  letter-spacing:-0.4px;
  z-index:10;
  
}
.read-more{
  font-size: 14px;
  font-family: GeorgiaRegularfont;
  color: rgb( 255, 255, 255 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  margin-left: 0px;
  top: 14px;
  background: rgb( 118, 195, 143 );
  border-radius: 10px;
  padding: 9px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  letter-spacing:-0.2px;
  z-index:10;
}
.image {
  position: relative;
  margin-left: 590px;
  margin-top: -420px;
  width: 450px;
  height: 500px;
  z-index:10;
}
.ellipse2 {
  background: url(../img/above.jpg);
  background-size: 1000px 1000px;
  position: relative;
  margin-left: 0px;
  margin-top: 25px;  
  z-index: 12;
  width: 430px;
  height: 430px;
  border-radius: 430px; 
}
.ellipse1 {
  background:url(../img/pexels.jpg);
  background-size: cover;
  position: relative;
  margin-left: 25px;
  margin-top: -408px;  
  width: 380px;
  height: 380px;
  border-radius: 380px;
  z-index: 13;
}
/*.text380 {
  font-size: 26px;
  font-family:GeorgiaRegularfont; 
  color: rgb( 255, 255, 255 );
  line-height: 1.2;
  text-align: left;
  position: relative;
  margin-left: 143px;
  margin-top: -202px;
  letter-spacing:0px;
  z-index: 14;
}*/
.black-out {
  background-color: rgb( 0, 0, 0 );
  opacity: 0.6;
  position: relative;
  margin-left: 0px;
  margin-top: -625px;
  width: 1200px;
  height: 600px;
  z-index: 1;
}