.ShevronL {
  position: absolute;
  color: rgb( 118, 195, 143 );
  top: 325px;
  left: 117px;
  z-index:10; 
}
.ShevronR {
  position: absolute;
  color: rgb( 118, 195, 143 );
  top: 325px;
  left: 1061px;
  z-index:10; 
}
.TextBlock {
  position: absolute;
  left:180px;
  top: 160px;
  width: 400px;
  height: 300px;
  z-index:10;
  
}
.CursusPenati {
  font-size: 47px;
  font-family: GeorgiaRegularfont;
  color: rgb( 255, 255, 255 );
  text-align: left;
  position: absolute;
  left: 1px;
  top: 10.5px;
  letter-spacing:-0.5px;
  line-height: 1;
  z-index:10;
  }
.Nullamlacus {
  font-size: 14px;
  font-family: GeorgiaRegularfont;
  color: rgb( 151, 151, 151 );
  line-height: 1.42;
  text-align: left;
  position: absolute;
  left: 0px;
  top: 158px;
  letter-spacing:-0.4px;
  z-index:10;
  
}
.ReadMore{
  font-size: 14px;
  font-family: GeorgiaRegularfont;
  color: rgb( 255, 255, 255 );
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 0px;
  top: 268px;
  background: rgb( 118, 195, 143 );
  border-radius: 10px;
  padding: 9px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  letter-spacing:-0.2px;
  z-index:10;
  }
.Image {
  position: absolute;
  left: 590px;
  top: 100px;
  width: 450px;
  height: 500px;
  z-index:10;
  }
.Ellipse2 {
  background: url(../img/Ellipse2.png);
  position: absolute;
  left: 0px;
  top: 25px;  
  z-index: 12;
  width: 430px;
  height: 430px;
  }
.Ellipse1 {
  background: url(../img/Ellipse.png);
  position: absolute;
  left: 25px;
  top: 47px;  
  width: 380px;
  height: 380px;
  z-index: 13;
  }
.Text380 {
  font-size: 26px;
  font-family:GeorgiaRegularfont; 
  color: rgb( 255, 255, 255 );
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 143px;
  top: 198px;
  letter-spacing:0px;
  z-index: 14;
  }
.BlackOut {
  background-color: rgb( 0, 0, 0 );
  opacity: 0.6;
  position: absolute;
  left: 0px;
  top: 5px;
  width: 1200px;
  height: 600px;
  z-index: 1;
}